@using ProjeMVC.Models.SINIFLAR
@model List<KargoTakip>
@{
    ViewBag.Title = "CariKargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<table class="table table-striped">
    <tr>
        <th>Açıklama</th>
        <th>Tari</th>

    </tr>
    @{ int i = 0;}
    @foreach (var x in Model)
    {

        <tr>
            <td>@{i++;} @i</td>
            <td>@x.Aciklama</td>
            <td>@x.TarihZaman.ToString("dd/mm/yyyy")</td>

        </tr>
    }

</table>

